<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlh.mybatis.dao.UserMapper" >

    <insert id="addUser">
        insert into user(id, name) values(#{id}, #{name})
    </insert>

    <select id="selectOne" resultType="com.dlh.mybatis.entity.User">
      select id, name from user where id=#{id}
    </select>

    <delete id="deleteUser">
      delete from user where id=#{id}
    </delete>
</mapper>
